<h1>Welcome to flast!</h1>

<h3>flast is a general purpose framework to build logical dependencies.</h3>

<p>Everything is under construction.<br/>
Project page: <a href="https://gitlab.com/uni-flast">gitlab.com/uni-flast</a>
</p>
